# Environnement virtuel
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Système
.DS_Store
**/.DS_Store

# IDE
.vscode/
.idea/

# Fichiers et dossier ignoré
/interfaces/gradio/
run_sentiment_analysis.py
test_bloom.py
test_chatbot.py
test_llama.py
/.gradio
